.h {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Garante que a div ocupe pelo menos a altura total da viewport */
}

.atividade-page {
    flex: 1;
    overflow: auto;
    padding-top: 50px; /* Altura da header */
    display: flex;
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    align-items: center; /* Centraliza o conteúdo verticalmente */
}

.atividade-info {
    background-color: #cecece; /* Cinza claro */
    padding: 30px;
    border-radius: 10px;
    border: 2px solid white;
    max-width: 500px; /* Define uma largura máxima */
    width: 100%; /* Faz com que a div ocupe 100% da largura disponível */
}

.atividade-info h2 {
    font-size: 30px;
    margin-bottom: 10px;
    color: white;
    text-align: center; /* Centraliza o texto */
}

.info_box_atv_ind {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 20px;
    background: #cecece;
    border-radius: 10px;
}

.info_box_atv_ind p {
    font-size: 18px;
}

.info_box_atv_ind button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    border: 1px solid transparent;
}

.info_box_atv_ind_inner {
    display: flex;
    margin-bottom: 15px;
    align-items: center;
}

.atividade-page label {
    margin-bottom: 5px;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.edit-mode input, .info_box_atv_ind_inner.edit-mode  select {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 30px;
    outline: none;
    border: none;
    padding: 10px;
    font-size: 17px;
    margin: 5px 0;
    color: white;
}

.botoes_atv_ind {
    display: flex;
    gap: 20px;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.b_save_atv_ind, .b_edita_atv_ind, .b_delete_atv_ind {
    display: block;
    width: fit-content;
    align-self: center;
    background-color: #ff85a2;
}

.b_save_atv_ind:hover, .b_edita_atv_ind:hover, .b_delete_atv_ind:hover {
    background-color: #ff5e82; /* Cor rosa mais escura ao passar o mouse */
}

.em_andamento_atv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0;
}

.em_andamento_atv button {
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid transparent;
    color: white;
    cursor: pointer;
}

.b_sim_atv, .b_sim_atv:hover {
    background-color: seagreen;
}

.b_nao_atv, .b_nao_atv:hover {
    background-color: crimson;
}

.b_sim_atv.selected, .b_nao_atv.selected {
    border: 2px solid white; /* Borda branca para o botão selecionado */
}

.info_box_atv_ind_inner select {
    background-color: transparent;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 10px;
    color: white;
    font-size: 17px;
}

.info_box_atv_ind_inner select option {
    color: black; /* Cor do texto das opções do select */
}
