h2 {
    color: #535353;
}

.title {
    color: #CECECE;
    position: absolute;
    top: 80px; /* Ajuste a distância do topo conforme necessário */
    left: 20px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container p{
    color: black;
    text-align: justify;
}

.half {
    width: 50%;
}

.right, .left {
    padding-right: 40px;
    padding-left: 40px;
}

.botoes {
    width: 100%;
    text-align: center;
    margin-top: 20px; /* Adicione um espaço entre os botões e o parágrafo acima */
}

.profiles {
    margin-top: 20px;
}

.btn, .profile-btn {

    display: inline-block;
    padding: 10px 20px;
    margin-right: 100px;
    background-color: white;
    color: black;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 10px;
}

.botoes .btn:hover, .botoes .profile-btn:hover {
    background-color: black;
    color: white;
}