.h {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Garante que a div ocupe pelo menos a altura total da viewport */
}

.atividades_tudo {
    flex: 1;
    overflow: auto;
    padding-top: 50px; /*altura da header*/
    display: flex;
    flex-direction: column;
}