/* Estilos específicos da página Disciplinas */
.h {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Garante que a div ocupe pelo menos a altura total da viewport */
}

.disciplinas_tudo {
    flex: 1;
    overflow: auto;
    padding-top: 50px; /*altura da header*/
    display: flex;
    flex-direction: column;
}

.title_dis {
    color: #cecece;
    margin: 60px;
}

.container_dis {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 80px 0px 80px;
    row-gap: 50px;
}

.container_dis h3, .container_dis h2 {
    color: #cecece;
}

button {
    background-color: #f4bad9;
    color: white;
    padding: 20px;
    border-radius: 15px;
    font-weight: bold;
    border: 2px solid #f4bad9;
}

button:hover {
    color: black;
    background-color: white;
    border: 2px solid black;
}

.disc_atu,
.disc_ant {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.container_dis p {
    color: black;
    text-align: justify;
}

.disciplinas_andamento,
.disciplinas_passadas {
    display: flex;
    overflow-x: auto; /* Adicionando barra de rolagem horizontal */
}

::-webkit-scrollbar {
    height: 8px;
    width: 4px;
    border-radius: 10px;
    background-color: #e6e6e6;
}
::-webkit-scrollbar-thumb:horizontal {
    background: #cecece;
    border-radius: 10px;
}

.botao_disciplina {
    margin-left: 10px;
    margin-right: 10px;
    background-color: #f4bad9; /* Cor de fundo rosa */
    border-radius: 15px; /* Bordas arredondadas */
    padding: 10px; /* Espaçamento interno */
    margin-bottom: 7px; /* Espaçamento entre disciplinas */
    width: 200px; /* Largura da disciplina individual */
    text-align: center; /* Centraliza o conteúdo */
    border: 1px solid #f4bad9;
}

.botao_disciplina p {
    color: white; /* Cor do texto branco */
}

.botao_disciplina:hover {
    background-color: white; /* Mudança de cor no hover */
    color: black; /* Mudança de cor do texto no hover */
    border: 1px solid black; /* Adiciona borda no hover */
}

