header {
    background: rgb(238,174,202);
    background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    letter-spacing: 1px;
    padding: 10px;
    position: fixed;
    width: 100%; /* Largura total */
    z-index: 1000; /* Garante que o header fique por cima de outros elementos */
    height: 50px; /* Altura do header */
    display: flex;
    flex-direction: linear;
    align-items: center;
    font-family: "Poppins";
    font-size: 17px;
}

header img{
    width:80px;
    max-width: 100px; /* Largura máxima da imagem */
    float: left; /* Alinha a imagem à esquerda */
}

#marca{
    display: flex;
    flex-direction: linear;
    align-items: center;
    justify-content: start;
    font-weight: bold;
    font-size: 24px;
}

nav {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 85%;
    max-width: calc(100% - 100px);
    padding: 20px 0px;
}

header a, p {
    color: white; /* Cor do texto */
    text-decoration: none; /* Remove sublinhado padrão */
    padding: 0 10px; /* Espaçamento entre os links */
}

nav p {
    color: white; /* Cor do texto */
    margin: 0 10px; /* Espaçamento entre o separador e os links */
}

nav a:hover {
    border: 1px solid white; /* Adiciona borda branca ao passar o mouse */
    border-radius: 40px;
    padding: 4px 8px;
}

body {
    font-family: 'Poppins';
    font-size: 16;
    font-color: black;
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    padding: 0px 5%;
}

.welcome {
    flex: 1;
    text-align: left;
    word-wrap: break-word;
    margin: 0;
    padding: 0;
}

.welcome h1 {
    font-size: 7rem;
    margin:0;
    padding-left:0;
    margin-bottom: 30px;
    font-family: 'Open Sans', sans-serif;;
    -webkit-text-stroke: 3px #797979; /* Aumentando a largura da borda e definindo a cor */
    color: transparent;
    font-weight: bold;
}

.registration-form {
    flex: 1;
    max-width: 400px;
    margin-left= 50px;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: calc(100% - 40px);
    padding: 14px;
    border: transparent;
    border-radius: 10px; /* Bordas arredondadas */
    background-color: #E6E6E6; /* Cor de fundo #E6E6E6 */
    margin: 5px 0;
}

.input-group input:focus {
    border-color: #535353; /* Altera a cor da borda ao clicar na caixa de input */
}

.google-login {
    text-align: center;
    margin-bottom: 20px;
}

.google-login p {
    margin-bottom: 10px;
    color: #000;
}

.google-login a {
    display: inline-block;
    padding: 10px 20px 10px 40px; /* Adicionando padding à esquerda para acomodar a imagem */
    background-color: transparent; /* Botão transparente */
    color: #000; /* Cor do texto preto */
    text-decoration: none;
    border: 1px solid #000; /* Bordas pretas */
    border-radius: 8px; /* Bordas arredondadas */
    position: relative; /* Define posição relativa */
}

.google-login a img {
    position: absolute; /* Define posição absoluta */
    left: 10px; /* Posiciona a imagem 10px à esquerda do início do botão */
    top: 50%; /* Alinha a imagem verticalmente */
    transform: translateY(-50%); /* Corrige o alinhamento vertical */
    width: 20px; /* Define a largura da imagem */
    height: auto; /* Mantém a proporção da altura */
}

.google-login a:hover {
    background-color: #000; /* Mudança de cor no hover */
    color: #fff; /* Mudança de cor do texto no hover */
}

.login-link {
    text-align: center;
    color: #000;
}

.login-link p {
    color: #000;
}

.login-link a {
    color: #4285F4;
    text-decoration: none;
}

footer {
    text-align: center;
    padding: 10px; /* Adiciona um padding para espaçamento interno */
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    position: fixed; /* Define a posição fixa */
    bottom: 0; /* Alinha o footer na parte inferior */
    width: 100%; /* Define a largura total */
}

footer p {
    font-size: 23px;
    color: #CECECE; /* Cor do texto preto */
}
